body{
    background-color: black;
}

.title{
    color: greenyellow;
    outline-color: aliceblue;
    font-size: 68px;
    text-align: center;
}

#indexmenu{
    position: relative;
    width: 20%;
    background-color: aliceblue;
}